/* Estilo para la portada de la aplicación */
#gridportada{
    -fx-background-color: white;


}
.root {
    -fx-background-color: white;
    -fx-font-family: 'Arial';

}

.button {

    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #bad4e5, #eceff1);
    -fx-text-fill: #312e2e;
    -fx-font-size: 14px;
    -fx-padding: 10;
}
.button:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #2980b9, #bad4e5);
    -fx-text-fill: #fff; /* Cambia el color del texto cuando se pasa el ratón */
}


.label {
    -fx-text-fill: A0A9D6; /* Color del texto de la etiqueta */
    -fx-font-size: 26; /* Tamaño de fuente de la etiqueta */
}

