/* Estilo para la portada de la aplicación */
.root {
    -fx-background-color: #c9c6c6;
    -fx-font-family: 'Arial';
}

.button {

    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #bad4e5, #eceff1);
    -fx-text-fill: #312e2e;
    -fx-font-size: 14px;
    -fx-padding: 10;
}
.button:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #2980b9, #bad4e5);
    -fx-text-fill: #fff; /* Cambia el color del texto cuando se pasa el ratón */
}

.label {
    -fx-text-fill: A0A9D6; /* Color del texto de la etiqueta */
    -fx-font-size: 16px; /* Tamaño de fuente de la etiqueta */
}
.menu-bar{
    -fx-text-fill: black;
}

/* Puedes agregar más estilos según tus necesidades */
