/* Estilo para la portada de la aplicación */
#procesadorBox{
    -fx-background-color: linear-gradient(to bottom, #ffffff, #f0f0f0);
}
#miTextArea{
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-width: 2;

}
#toolbarCabecera{
    -fx-background-color: #9df398;
    -fx-background-radius: 15;
}

.button{
    -fx-background-color:  #9df398;
    -fx-background-radius: 15;
}
.combo-box{
    -fx-font-family: "Arial Black";
}
.menu-bar{
    -fx-text-fill: black;
}

.color-picker{
    -fx-background-color:  #9df398;
    -fx-color-label-visible: false;
    -fx-color-width:20;
    -fx-color-height:20;

}


