/* Estilo para la portada de la aplicación */
#procesadorBox{
    -fx-background-color: linear-gradient(to bottom, #ffffff, #f0f0f0);
}
#miTextArea{
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-width: 2;

}
#toolbarCabecera{
    -fx-background-color: #cbcbee;
    -fx-background-radius: 15;
}


.button{
    -fx-background-color: #cbcbee;
    -fx-border-color: #cbcbee;
    -fx-border-width: 0;
}
.button:hover{
    -fx-background-color: #acacef;
}



#cmdset, #cmdIdioma, #cmdaccesi ,#cmdusuario{
    -fx-background-color: white;

}
#cmdset:hover, #cmdIdioma:hover, #cmdaccesi:hover, #cmdusuario:hover{
    -fx-background-color: #acacef;

}

.combo-box{
    -fx-font-family: "Arial Black";
}






